<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App的安装</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html,body{
            height: 100%;
        }
        .container{
            height: 100%;
        }
        .row {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div>
                <h1><a  class="btn btn-primary" href="itms-services://?action=download-manifest&url=https://192.168.10.86:8443/manifest.plist">点击安装</a></h1>
            </div>

            <div>
                <h1>
                    <a class="btn" href="/ca.crt">ssl证书安装</a>
                </h1>
            </div>
        </div>
    </div>

</body>
</html>